## Q1

Database is the organized collection of structured information, or data, typically stored electronically in a computer system.
1) Sql is a type of database in which the data is stored in the form of rows and cols. In this type of database while inserting data we have to take into account the cols of database.
2) NoSQL stands for not only sql in this data is stored in the form of document and we don't need to take into account the format of data being stored. The data is stored in key value format.

## Q2

A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

Create command is used to create the table inside database it can be used along database as well to create database
The following syntax can be used to create it
1) create table persons (person_id int, LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255))

Drop command is used to drop the table records along with structure of table.
syntax for the same is 
1) drop table [Table Name];

Alter Table command is used to alter the exsisting records or structure of the table already exsists.
1) ALTER TABLE product 
2) DROP COLUMN description;

Truncate table is used to truncate all the records inside table.
syntax for the same is:
1) TRUNCATE TABLE table_name;

## Q3

DML stands for data manipulation Language It includes insert,update and delete etc.

Insert command is used to insert the values inside the table. syntax is following:-
1) Insert into tablename values(data1,data2,data3)

update command is used to update the data inside the table synatx for the same is :-
1) UPDATE Customers  SET ContactName = 'Alfred Schmidt', City = 'Frankfurt' WHERE CustomerID = 1;

delete command is used to delete records from the table, syntax for same is :-
1) DELETE FROM table_name WHERE condition;

## Q4

dql stands for data query language it is used to retrieve data from table.

Select * from table1 where condition1 = 'value';
This select command is used to retrieve all records from table.

## Q5

Primary key is used to define a col as unique and not null which will be different for every record.

A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

ALTER TABLE table2
ADD FOREIGN KEY (col1) REFERENCES table1(col1);

## Q6

##### import mysql.connector
#####
##### mydb = mysql.connector.connect(
#####    'host':'yourhost',
#####    'user':'username',
#####   'password':'password'
##### )
##### print(mydb)

#### once the connection is established we can use cursor and execute to execute the command
##### cursor = mydb.cursor()
##### cursor.execute('select * from table1')

## Q7

#### The order for following query is
'select * from table1 where condition1="name1" group by col2 having cond2 order by col1 '
#### The execution order will be 
#### FROM clause
#### WHERE clause
#### SELECT clause
#### GROUP BY clause
#### HAVING clause
#### ORDER BY clause